.modal {
  width: 50%;
  min-height: 40rem;
  max-height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  background-color: $component-background;
  border-radius: 0.5rem;
  padding: 1rem;

  @media only screen and (max-width: 56.25em) {
    width: 75%;
  }

  @media only screen and (max-width: 37.5em) {
    width: 90%;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    &:target {
      visibility: visible;
      opacity: 1;
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 5rem;

    &--main {
      font-size: 3rem;
    }

    &--sub {
      font-size: 1.5rem;

      .list-title {
        text-decoration: underline;
      }
    }
  }

  &__close {
    position: absolute;
    top: 3px;
    right: 1rem;
    cursor: pointer;
    font-size: 3rem;
    text-decoration: none;
    color: $default-font-color;

    &:hover {
      color: red;
    }
  }

  &__widget-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-right: 1rem;
  }

  &__button--inline {
    display: inline-block;
    background-color: #888;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: #888;
    cursor: pointer;

    &:hover {
      background-color: #444;
    }
  }

  &__main {
    width: 100%;

    &--left {
      float: left;
      width: 75%;

      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
    }

    &--right {
      float: right;
      width: 25%;

      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
    }

    .description {
      width: 100%;
      margin-bottom: 4rem;
      text-align: left;

      &__prompt {
        display: block;
        background-color: $component-background;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 5px;
        height: 3rem;
        &:hover {
          background-color: $component-background-dark;
        }
      }
      &__textarea {
        display: block;
        background-color: white;
        width: 100%;
        height: 4rem;
        padding: 0.5rem;
        border-radius: 5px;
      }

      &__display {
        display: block;
        font-size: 1.8rem;
      }
    }

    .checklist {
      width: 100%;
      margin-bottom: 4rem;

      &__items {
        .item {
          display: flex;
          &__checkbox {
            //display: inline-block;
            height: 1.8rem;
            width: 1.8rem;
            border-radius: 2px;
            border: 2px solid #888;
            margin-right: 2rem;
            cursor: pointer;

            &--unchecked {
              background-color: white;
            }

            &--checked {
              position: relative;
              background-color: blue;
              color: white;
              font-size: 1.5rem;

              .checkmark {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          &__title {
            //display: inline-block;
            font-size: 1.8rem;
          }

          &__delete {
            margin-left: 2rem;
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
              color: red;
            }
          }
        }
      }
    }

    .sidemenu {
      position: relative;
      padding-left: 2rem;
      padding-right: 2rem;

      &__button {
        display: block;
        background-color: #888;
        color: white;
        font-size: 1.5rem;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        border: #888;
        cursor: pointer;

        &:hover {
          background-color: #444;
        }
      }

      &__panel {
        position: absolute;
        width: $popup-panel-width;
        left: calc(-1 * #{$popup-panel-width});
        top: 3rem;
        background-color: white;
        border: solid 2px #888;
        border-radius: 5px;
        padding: 1rem;

        &--heading {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        &--close {
          position: absolute;
          top: 3px;
          right: 1rem;
          cursor: pointer;
          font-size: 3rem;

          &:hover {
            color: red;
          }
        }

        &--label {
          margin-top: 1rem;
          font-size: 1.4rem;
        }

        &--select {
          margin-top: 1rem;
          margin-bottom: 1rem;
          display: block;
          width: 100%;
          font-size: 1.4rem;
          padding: 5px;
        }

        &--submit {
          padding: 0.5rem 1rem 0.5rem 1rem;
          cursor: pointer;
          color: white;
          background-color: $color-secondary;
          border-radius: 5px;
          border: none;

          &:hover {
            background-color: $color-secondary-dark;
          }

          &:active,
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
