@import "./sass/abstracts/_variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: hsl(208, 79%, 51%);
  --color-primary-hoverLighter: hsl(209, 100%, 91%);
  --color-primary-hoverLight: hsl(209, 100%, 81%);
  --color-primary-light: hsl(209, 100%, 71%);
  --color-primary-dark: hsl(209, 100%, 35%);
  --color-primary-hoverDark: hsl(209, 100%, 40%);

  //--component-background: #c5c9eb;
  --component-background: #e0e4ff;
  --component-background-dark: #9093ad;

  // Secondar colors, mainly for form buttons
  --color-secondary: #4fa644;
  --color-secondary-light: #64d355;
  --color-secondary-dark: #387430;

  --default-font-color: #333;

  // LAYOUT
  --list-width: 30rem;
  --sidebar-width: 40rem;
  --popup-panel-width: 20rem;
  --navbar-height: 5rem;
}

html {
  // defines 1rem
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--color-primary);
  color: $default-font-color;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sidebar-root {
  position: fixed;
  top: 9rem;
  right: calc(-1 * #{$sidebar-width});
  height: calc(var(--vh, 1vh) * 100 - 9rem);
  width: $sidebar-width;
  z-index: 2;

  @media only screen and (max-width: 25em) {
    width: 100vw;
  }
}

// #sidebar-root {
//   position: relative;
//   z-index: 2000;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.4);
// }
