/* line 1, src/sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 9, src/sass/base/_base.scss */
:root {
  --body-background: blue;
  --body-background-light: #00a2ff; }

/* line 14, src/sass/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 19, src/sass/base/_base.scss */
body {
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--body-background); }

/* line 1, src/sass/base/_typography.scss */
body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 1, src/components/board/_board.scss */
.board {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 0 1rem;
  grid-auto-rows: 1rem; }

/* line 10, src/components/board/_board.scss */
.addList {
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  height: 100px;
  z-index: 1; }
  /* line 16, src/components/board/_board.scss */
  .addList__prompt {
    background-color: rgba(0, 0, 0, 0.6); }
    /* line 19, src/components/board/_board.scss */
    .addList__prompt-button {
      height: 100%;
      width: 100%;
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 2rem; }
      /* line 28, src/components/board/_board.scss */
      .addList__prompt-button:hover {
        color: #bbb; }
  /* line 34, src/components/board/_board.scss */
  .addList__input {
    background-color: #e0e4ff; }
  /* line 38, src/components/board/_board.scss */
  .addList__form {
    width: 100%; }

/* line 1, src/components/board/list/card/_card.scss */
.card {
  z-index: 10; }
  /* line 2, src/components/board/list/card/_card.scss */
  .card:not(:last-child) {
    margin-bottom: 1rem; }
  /* line 6, src/components/board/list/card/_card.scss */
  .card:first-child {
    margin-top: 0.5rem; }
  /* line 12, src/components/board/list/card/_card.scss */
  .card__preview {
    display: block;
    background-color: #fff;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0 1rem;
    line-height: 3.5rem;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333; }

/* line 1, src/components/board/list/card/_modal.scss */
.modal {
  width: 50%;
  min-height: 40rem;
  max-height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0e4ff;
  border-radius: 0.5rem;
  padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    /* line 1, src/components/board/list/card/_modal.scss */
    .modal {
      width: 75%; } }
  @media only screen and (max-width: 37.5em) {
    /* line 1, src/components/board/list/card/_modal.scss */
    .modal {
      width: 90%; } }
  /* line 23, src/components/board/list/card/_modal.scss */
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s; }
    /* line 35, src/components/board/list/card/_modal.scss */
    .modal__overlay:target {
      visibility: visible;
      opacity: 1; }
  /* line 41, src/components/board/list/card/_modal.scss */
  .modal__heading {
    text-align: center;
    margin-bottom: 5rem; }
    /* line 45, src/components/board/list/card/_modal.scss */
    .modal__heading--main {
      font-size: 3rem; }
    /* line 49, src/components/board/list/card/_modal.scss */
    .modal__heading--sub {
      font-size: 1.5rem; }
      /* line 52, src/components/board/list/card/_modal.scss */
      .modal__heading--sub .list-title {
        text-decoration: underline; }
  /* line 58, src/components/board/list/card/_modal.scss */
  .modal__close {
    position: absolute;
    top: 3px;
    right: 1rem;
    cursor: pointer;
    font-size: 3rem;
    text-decoration: none;
    color: #333; }
    /* line 67, src/components/board/list/card/_modal.scss */
    .modal__close:hover {
      color: red; }
  /* line 72, src/components/board/list/card/_modal.scss */
  .modal__widget-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-right: 1rem; }
  /* line 79, src/components/board/list/card/_modal.scss */
  .modal__button--inline {
    display: inline-block;
    background-color: #888;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: #888;
    cursor: pointer; }
    /* line 90, src/components/board/list/card/_modal.scss */
    .modal__button--inline:hover {
      background-color: #444; }
  /* line 95, src/components/board/list/card/_modal.scss */
  .modal__main {
    width: 100%; }
    /* line 98, src/components/board/list/card/_modal.scss */
    .modal__main--left {
      float: left;
      width: 75%; }
      @media only screen and (max-width: 37.5em) {
        /* line 98, src/components/board/list/card/_modal.scss */
        .modal__main--left {
          width: 100%; } }
    /* line 107, src/components/board/list/card/_modal.scss */
    .modal__main--right {
      float: right;
      width: 25%; }
      @media only screen and (max-width: 37.5em) {
        /* line 107, src/components/board/list/card/_modal.scss */
        .modal__main--right {
          width: 100%; } }
    /* line 116, src/components/board/list/card/_modal.scss */
    .modal__main .description {
      width: 100%;
      margin-bottom: 4rem;
      text-align: left; }
      /* line 121, src/components/board/list/card/_modal.scss */
      .modal__main .description__prompt {
        display: block;
        background-color: #e0e4ff;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 5px;
        height: 3rem; }
        /* line 129, src/components/board/list/card/_modal.scss */
        .modal__main .description__prompt:hover {
          background-color: #9093ad; }
      /* line 133, src/components/board/list/card/_modal.scss */
      .modal__main .description__textarea {
        display: block;
        background-color: white;
        width: 100%;
        height: 4rem;
        padding: 0.5rem;
        border-radius: 5px; }
      /* line 142, src/components/board/list/card/_modal.scss */
      .modal__main .description__display {
        display: block;
        font-size: 1.8rem; }
    /* line 148, src/components/board/list/card/_modal.scss */
    .modal__main .checklist {
      width: 100%;
      margin-bottom: 4rem; }
      /* line 153, src/components/board/list/card/_modal.scss */
      .modal__main .checklist__items .item {
        display: flex; }
        /* line 155, src/components/board/list/card/_modal.scss */
        .modal__main .checklist__items .item__checkbox {
          height: 1.8rem;
          width: 1.8rem;
          border-radius: 2px;
          border: 2px solid #888;
          margin-right: 2rem;
          cursor: pointer; }
          /* line 164, src/components/board/list/card/_modal.scss */
          .modal__main .checklist__items .item__checkbox--unchecked {
            background-color: white; }
          /* line 168, src/components/board/list/card/_modal.scss */
          .modal__main .checklist__items .item__checkbox--checked {
            position: relative;
            background-color: blue;
            color: white;
            font-size: 1.5rem; }
            /* line 174, src/components/board/list/card/_modal.scss */
            .modal__main .checklist__items .item__checkbox--checked .checkmark {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
        /* line 183, src/components/board/list/card/_modal.scss */
        .modal__main .checklist__items .item__title {
          font-size: 1.8rem; }
        /* line 188, src/components/board/list/card/_modal.scss */
        .modal__main .checklist__items .item__delete {
          margin-left: 2rem;
          font-size: 1.5rem;
          cursor: pointer; }
          /* line 193, src/components/board/list/card/_modal.scss */
          .modal__main .checklist__items .item__delete:hover {
            color: red; }
    /* line 201, src/components/board/list/card/_modal.scss */
    .modal__main .sidemenu {
      position: relative;
      padding-left: 2rem;
      padding-right: 2rem; }
      /* line 206, src/components/board/list/card/_modal.scss */
      .modal__main .sidemenu__button {
        display: block;
        background-color: #888;
        color: white;
        font-size: 1.5rem;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        border: #888;
        cursor: pointer; }
        /* line 218, src/components/board/list/card/_modal.scss */
        .modal__main .sidemenu__button:hover {
          background-color: #444; }
      /* line 223, src/components/board/list/card/_modal.scss */
      .modal__main .sidemenu__panel {
        position: absolute;
        width: 20rem;
        left: calc(-1 * 20rem);
        top: 3rem;
        background-color: white;
        border: solid 2px #888;
        border-radius: 5px;
        padding: 1rem; }
        /* line 233, src/components/board/list/card/_modal.scss */
        .modal__main .sidemenu__panel--heading {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 1rem; }
        /* line 239, src/components/board/list/card/_modal.scss */
        .modal__main .sidemenu__panel--close {
          position: absolute;
          top: 3px;
          right: 1rem;
          cursor: pointer;
          font-size: 3rem; }
          /* line 246, src/components/board/list/card/_modal.scss */
          .modal__main .sidemenu__panel--close:hover {
            color: red; }
        /* line 251, src/components/board/list/card/_modal.scss */
        .modal__main .sidemenu__panel--label {
          margin-top: 1rem;
          font-size: 1.4rem; }
        /* line 256, src/components/board/list/card/_modal.scss */
        .modal__main .sidemenu__panel--select {
          margin-top: 1rem;
          margin-bottom: 1rem;
          display: block;
          width: 100%;
          font-size: 1.4rem;
          padding: 5px; }
        /* line 265, src/components/board/list/card/_modal.scss */
        .modal__main .sidemenu__panel--submit {
          padding: 0.5rem 1rem 0.5rem 1rem;
          cursor: pointer;
          color: white;
          background-color: #4fa644;
          border-radius: 5px;
          border: none; }
          /* line 273, src/components/board/list/card/_modal.scss */
          .modal__main .sidemenu__panel--submit:hover {
            background-color: #387430; }
          /* line 277, src/components/board/list/card/_modal.scss */
          .modal__main .sidemenu__panel--submit:active, .modal__main .sidemenu__panel--submit:focus {
            outline: none; }

/* line 1, src/sass/components/_form.scss */
.form {
  padding: 0.5rem; }
  /* line 4, src/sass/components/_form.scss */
  .form__group:not(:last-child) {
    margin-bottom: 0.5rem; }
  /* line 8, src/sass/components/_form.scss */
  .form__input {
    display: block;
    width: 100%;
    font-size: 2rem;
    line-height: 3.5rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: none;
    color: #333; }
    /* line 18, src/sass/components/_form.scss */
    .form__input--validation {
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: #555; }
  /* line 25, src/sass/components/_form.scss */
  .form__submit, .form__edit {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    background-color: #4fa644;
    color: white;
    cursor: pointer;
    transition: all 0.2s; }
    /* line 37, src/sass/components/_form.scss */
    .form__submit:focus, .form__submit:active, .form__edit:focus, .form__edit:active {
      outline: none;
      transform: translateY(2px); }
    /* line 43, src/sass/components/_form.scss */
    .form__submit:hover, .form__edit:hover {
      background-color: #387430; }
  /* line 48, src/sass/components/_form.scss */
  .form__cancel {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    /* line 58, src/sass/components/_form.scss */
    .form__cancel:hover {
      color: red; }

/* line 1, src/components/navbar/_navbar.scss */
.navbar {
  display: flex;
  justify-content: space-between; }
  /* line 5, src/components/navbar/_navbar.scss */
  .navbar__logo {
    padding: 6px 0;
    grid-area: header;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-align: center; }

/* line 1, src/components/board/list/_list.scss */
.list {
  width: 100%;
  background-color: #e0e4ff;
  border-radius: 0.5rem;
  min-height: 120px;
  position: relative;
  margin-bottom: 2rem;
  z-index: 0; }
  /* line 10, src/components/board/list/_list.scss */
  .list__heading {
    font-size: 2rem;
    width: 90%;
    overflow: hidden;
    font-family: sans-serif;
    padding: 1rem 1rem 1.5rem 1rem; }
  /* line 18, src/components/board/list/_list.scss */
  .list__remove {
    position: absolute;
    top: 3px;
    right: 1rem;
    cursor: pointer;
    font-size: 3rem; }
    /* line 25, src/components/board/list/_list.scss */
    .list__remove:hover {
      color: red; }
  /* line 30, src/components/board/list/_list.scss */
  .list__cards {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; }
  /* line 34, src/components/board/list/_list.scss */
  .list__addCard {
    border-radius: 0 0 0.5rem 0.5rem;
    font-family: sans-serif; }
    /* line 38, src/components/board/list/_list.scss */
    .list__addCard-prompt {
      padding: 1rem 1rem 1.2rem 1rem;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer; }
      /* line 50, src/components/board/list/_list.scss */
      .list__addCard-prompt:link, .list__addCard-prompt:visited {
        color: inherit;
        text-decoration: none; }
      /* line 56, src/components/board/list/_list.scss */
      .list__addCard-prompt--plus {
        font-size: 4rem;
        margin-right: 1rem; }
      /* line 61, src/components/board/list/_list.scss */
      .list__addCard-prompt--label {
        font-size: 2rem; }
    /* line 66, src/components/board/list/_list.scss */
    .list__addCard-form {
      width: 100%; }
  /* line 71, src/components/board/list/_list.scss */
  .list:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }

/* line 1, src/components/board/menu-bar/_menu-bar.scss */
.menu-bar {
  display: flex;
  justify-content: space-between;
  position: relative; }
  /* line 6, src/components/board/menu-bar/_menu-bar.scss */
  .menu-bar__input {
    margin-left: 10px;
    padding: 5px 0;
    grid-area: title;
    background-color: var(--body-background);
    border: none;
    border-radius: 0.5rem;
    font-size: 2em;
    font-weight: 700;
    color: white;
    text-align: center; }
    /* line 18, src/components/board/menu-bar/_menu-bar.scss */
    .menu-bar__input--infocus {
      background-color: white;
      color: #333; }
    /* line 23, src/components/board/menu-bar/_menu-bar.scss */
    .menu-bar__input--hover {
      background-color: var(--body-background-light); }
  /* line 28, src/components/board/menu-bar/_menu-bar.scss */
  .menu-bar__toggler {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    margin-right: 3rem;
    border: 2px solid var(--body-background-light); }
    /* line 37, src/components/board/menu-bar/_menu-bar.scss */
    .menu-bar__toggler--hover {
      background-color: var(--body-background-light); }
  /* line 42, src/components/board/menu-bar/_menu-bar.scss */
  .menu-bar__toggler h1 {
    font-weight: 100; }

/* line 1, src/components/board/menu-bar/_sidebar.scss */
#sidebar-root {
  position: fixed;
  top: 9rem;
  right: calc(-1 * 40rem);
  height: calc(var(--vh, 1vh) * 100 - 9rem);
  width: 40rem;
  z-index: 2; }
  @media only screen and (max-width: 400px) {
    /* line 1, src/components/board/menu-bar/_sidebar.scss */
    #sidebar-root {
      width: 100vw; } }

/* line 14, src/components/board/menu-bar/_sidebar.scss */
.portal-inner {
  height: 100%; }

/* line 18, src/components/board/menu-bar/_sidebar.scss */
.sidebar {
  position: absolute;
  height: calc(var(--vh, 1vh) * 100 - 9rem);
  background-color: #e0e4ff;
  border-left: 2px solid white;
  border-radius: 8px 0 0 8px;
  width: 40rem;
  padding: 1.5rem;
  transition: left 0.3s; }
  /* line 21, src/components/board/menu-bar/_sidebar.scss */
  .sidebar--hidden {
    left: 0rem; }
  /* line 25, src/components/board/menu-bar/_sidebar.scss */
  .sidebar--shown {
    left: calc(-1 * 40rem); }
  @media only screen and (max-width: 400px) {
    /* line 18, src/components/board/menu-bar/_sidebar.scss */
    .sidebar {
      width: 100vw; } }
  /* line 41, src/components/board/menu-bar/_sidebar.scss */
  .sidebar__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40rem; }
  /* line 50, src/components/board/menu-bar/_sidebar.scss */
  .sidebar .sidebar-menu__heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem; }
  /* line 57, src/components/board/menu-bar/_sidebar.scss */
  .sidebar .sidebar-menu__item {
    font-size: 2rem;
    padding: 2rem 1rem 2rem 1rem;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 3px;
    background-color: #e0e4ff;
    cursor: pointer; }
    /* line 66, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__item:hover {
      background-color: #9093ad; }
  /* line 71, src/components/board/menu-bar/_sidebar.scss */
  .sidebar .sidebar-menu__close {
    position: absolute;
    top: 3px;
    right: 1rem;
    cursor: pointer;
    font-size: 3rem; }
    /* line 78, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__close:hover {
      color: red; }
  /* line 83, src/components/board/menu-bar/_sidebar.scss */
  .sidebar .sidebar-menu__interface {
    position: absolute;
    top: 0;
    width: 40rem;
    height: calc(var(--vh, 1vh) * 100 - 9rem);
    overflow-y: auto;
    background-color: white;
    border-left: 2px solid #e0e4ff;
    border-radius: 8px 0 0 8px;
    padding: 1.5rem;
    transition: all 0.3s; }
    @media only screen and (max-width: 400px) {
      /* line 83, src/components/board/menu-bar/_sidebar.scss */
      .sidebar .sidebar-menu__interface {
        width: 100vw; } }
    /* line 100, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__interface--hidden {
      right: calc(-1 * 40rem); }
    /* line 104, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__interface--visible {
      right: 0; }
    /* line 108, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__interface--close {
      position: absolute;
      top: 3px;
      right: 1rem;
      cursor: pointer;
      font-size: 3rem; }
      /* line 115, src/components/board/menu-bar/_sidebar.scss */
      .sidebar .sidebar-menu__interface--close:hover {
        color: red; }
    /* line 121, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__interface .archive-toggle {
      display: flex;
      justify-content: center; }
      /* line 125, src/components/board/menu-bar/_sidebar.scss */
      .sidebar .sidebar-menu__interface .archive-toggle__button {
        width: 25%;
        font-size: 2rem;
        color: white;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        margin: 0.5rem; }
        /* line 134, src/components/board/menu-bar/_sidebar.scss */
        .sidebar .sidebar-menu__interface .archive-toggle__button:focus {
          outline: none; }
        /* line 138, src/components/board/menu-bar/_sidebar.scss */
        .sidebar .sidebar-menu__interface .archive-toggle__button--inactive {
          background-color: #444;
          cursor: pointer; }
        /* line 143, src/components/board/menu-bar/_sidebar.scss */
        .sidebar .sidebar-menu__interface .archive-toggle__button--active {
          background-color: blue; }
    /* line 149, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__interface .archive__list {
      margin-top: 2rem; }
    /* line 153, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__interface .archive__item {
      display: flex;
      justify-content: space-around;
      align-items: flex-center;
      margin-bottom: 2rem; }
      /* line 159, src/components/board/menu-bar/_sidebar.scss */
      .sidebar .sidebar-menu__interface .archive__item--title {
        font-size: 2rem;
        padding: 1em 4rem 1rem 4rem;
        text-align: center;
        background-color: #ddd;
        border-radius: 5px;
        width: 50%; }
      /* line 168, src/components/board/menu-bar/_sidebar.scss */
      .sidebar .sidebar-menu__interface .archive__item--restore {
        font-size: 2rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        text-align: center;
        background-color: blue;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        width: 25%; }
    /* line 181, src/components/board/menu-bar/_sidebar.scss */
    .sidebar .sidebar-menu__interface .colors {
      display: flex;
      flex-wrap: wrap; }
