.dashboard {
  background-color: #eeeeee;
  height: calc(var(--vh, 1vh) * 100 - var(--navbar-height));
  padding: 1rem;

  &__boards-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 40rem;
    margin: 2rem 0;

    @media only screen and (max-width: 30.3125em) {
      width: 100%;
    }
  }
}
