@import "../../sass/abstracts/_variables.scss";

.modal {
  width: 50%;
  min-height: 40rem;
  max-height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $component-background;
  border-radius: 0.5rem;
  padding: 1rem;

  @media only screen and (max-width: 56.25em) {
    width: 75%;
  }

  @media only screen and (max-width: 37.5em) {
    width: 90%;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;

    &:target {
      visibility: visible;
      opacity: 1;
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 3rem;

    &--main {
      font-size: 3rem;
    }

    &--sub {
      font-size: 1.5rem;

      .list-title {
        text-decoration: underline;
      }
    }
  }

  &__close {
    position: absolute;
    top: 3px;
    right: 1rem;
    cursor: pointer;
    font-size: 3rem;
    text-decoration: none;
    color: $default-font-color;

    &:hover {
      color: red;
    }
  }

  &__widget-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-right: 1rem;
  }

  &__button--inline {
    display: inline-block;
    background-color: #888;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: #888;
    cursor: pointer;

    &:hover {
      background-color: #444;
    }
  }

  &__body {
    width: 100%;
    display: grid;
    grid-template-columns: [modal-body-start main-start] 75% [main-end utilities-start] 25% [utilities-end modal-body-end];

    &--main {
      grid-column: modal-body-start / main-end;
      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
    }

    &--utilities {
      grid-column: utilities-start / modal-body-end;
      @media only screen and (max-width: 37.5em) {
        width: 100%;
      }
    }
  }
}
