@import "../../sass/abstracts/_variables.scss";

.list {
  width: 100%;
  background-color: $component-background;
  border-radius: 0.5rem;
  min-height: 120px;
  position: relative;
  margin-bottom: 2rem;
  z-index: 0;

  &__heading {
    font-size: 2rem;
    width: 90%;
    overflow: hidden;
    font-family: sans-serif;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  &__remove {
    position: absolute;
    top: 3px;
    right: 1rem;
    cursor: pointer;
    font-size: 3rem;

    &:hover {
      color: red;
    }
  }

  &__cards {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  }
}
