@import "../../sass/abstracts/_variables.scss";

.addBoard {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  height: 100px;
  z-index: 1;

  &__prompt {
    background-color: rgba(0, 0, 0, 0.6);

    &-button {
      font-family: inherit;
      height: 100%;
      width: 100%;
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: #bbb;
      }
    }

    &-plus {
      font-size: 4rem;
      margin-right: 1rem;
      font-weight: 400;
    }
  }

  &__input {
    background-color: $component-background;
    border: 2px solid rgb(177, 177, 177);
  }

  &__form {
    width: 100%;
  }
}

.form {
  padding: 0.5rem;

  &__group:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__input {
    display: block;
    width: 100%;
    font-size: 2rem;
    line-height: 3.5rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: none;
    color: #333;

    &--validation {
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: #555;
    }
  }

  &__submit,
  &__edit {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    background-color: $color-secondary;
    color: white;
    cursor: pointer;
    transition: all 0.2s;

    &:focus,
    &:active {
      outline: none;
      transform: translateY(2px);
    }

    &:hover {
      background-color: $color-secondary-dark;
    }
  }

  &__cancel {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}
