// COLORS
$body-background: blue;
$body-background-light: rgb(0, 162, 255);

//$component-background: #c5c9eb;
$component-background: #e0e4ff;
$component-background-dark: #9093ad;

$color-primary: #4fa644;
$color-primary-light: #64d355;
$color-primary-dark: #387430;

$default-font-color: #333;

// LAYOUT
$list-width: 30rem;
$sidebar-width: 40rem;
$popup-panel-width: 20rem;
