@import "../../sass/abstracts/_variables.scss";

.board-title {
  &__input {
    margin-left: 1rem;
    padding: 5px 0;
    grid-area: title;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    font-size: 2em;
    font-weight: 700;
    color: white;
    text-align: center;

    &--infocus {
      background-color: white;
      color: $default-font-color;
    }

    &--hover {
      background-color: var(--color-primary-hoverLight);
    }

    @media only screen and (max-width: 23.75em) {
      margin-left: 0.5rem;
    }
  }
}
