.board-link {
  background-color: #444;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  overflow-x: hidden;
  text-decoration: none;
  cursor: pointer;

  &__link {
    color: white;
    text-decoration: none;

    &:visited {
      color: white;
      text-decoration: none;
    }
  }

  &:hover > .board-link__link {
    color: #ddd;
  }
}
