@import "../../sass/abstracts/_variables.scss";

.boardmenu__item {
  font-size: 2rem;
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 3px;
  background-color: $component-background;
  cursor: pointer;
  &:hover {
    background-color: $component-background-dark;
  }
}
