$color-primary: hsl(208, 79%, 51%);
$color-primary-dark: hsl(209, 100%, 35%);

@function hslac($color, $alpha) {
  @if (type-of($color) == "color") {
    @return hsla(hue($color), saturation($color), lightness($color), $alpha);
  } @else {
    @error "You didn't pass a color object";
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(-30rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing {
  background-image: linear-gradient(
      to bottom,
      hslac($color-primary-dark, 1),
      hslac($color-primary, 0.6)
    ),
    url(/img/landing-hero-large.jpg);
  height: calc(var(--vh, 1vh) * 100 - var(--navbar-height));
  background-size: cover;
  display: flex;
  justify-content: center;

  .hero {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      color: white;
      text-align: center;
      font-size: 7rem;
      font-family: inherit;
      font-weight: 200;
      margin-bottom: 4rem;

      &--first {
        animation-name: moveIn;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
      }

      &--second {
        animation-name: moveIn;
        animation-duration: 1.5s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
      }
    }

    &__cta {
      color: #e78632;
      text-align: center;
      text-decoration: none;
      border: 2px solid #e78632;
      border-radius: 0.5rem;
      background-color: #fff;
      width: max-content;
      padding: 1.5rem 2rem 1.5rem 2rem;
      font-size: 3rem;
      font-weight: 400;
      cursor: pointer;

      &--inivisible {
        opacity: 1;
      }

      &:hover {
        color: #e78632;
        border-color: #e78632;
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
