@import "../../sass/abstracts/_variables.scss";

.description {
  width: 100%;
  margin-bottom: 4rem;
  text-align: left;

  &__prompt {
    display: block;
    background-color: $component-background;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    height: 3rem;
    margin-left: 7%;
    &:hover {
      background-color: $component-background-dark;
    }
  }

  &__display {
    display: block;
    margin-left: 7%;
    font-size: 1.6rem;
  }
}
