@import "../../sass/abstracts/_variables.scss";

.list {
  width: 100%;
  background-color: $component-background;
  border-radius: 0.5rem;
  min-height: 120px;
  position: relative;
  margin-bottom: 2rem;
  z-index: 0;

  &__heading {
    font-size: 2rem;
    width: 90%;
    overflow: hidden;
    font-family: sans-serif;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  &__remove {
    position: absolute;
    top: 3px;
    right: 1rem;
    cursor: pointer;
    font-size: 3rem;

    &:hover {
      color: red;
    }
  }

  &__cards {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  &__addCard {
    border-radius: 0 0 0.5rem 0.5rem;
    font-family: sans-serif;

    &-prompt {
      padding: 1rem 1rem 1.2rem 1rem;

      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;

      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
      }

      &--plus {
        font-size: 4rem;
        margin-right: 1rem;
      }

      &--label {
        font-size: 2rem;
      }
    }

    &-form {
      width: 100%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  }
}

.form {
  padding: 0.5rem;

  &__group:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__input {
    display: block;
    width: 100%;
    font-size: 2rem;
    line-height: 3.5rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    border: none;
    color: #333;

    &--validation {
      border-bottom-style: solid;
      border-bottom-width: 3px;
      border-bottom-color: #555;
    }
  }

  &__submit,
  &__edit {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
    background-color: $color-secondary;
    color: white;
    cursor: pointer;
    transition: all 0.2s;

    &:focus,
    &:active {
      outline: none;
      transform: translateY(2px);
    }

    &:hover {
      background-color: $color-secondary-dark;
    }
  }

  &__cancel {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}
