@import "../../sass/abstracts/_variables.scss";

.toggler {
  color: white;
  cursor: pointer;
  border-radius: 5px;

  padding: 3px 0.5rem;
  margin-right: 1rem;
  border: 2px solid var(--color-primary-light);
  text-align: center;

  h1 {
    font-weight: 100;
  }

  &--hover {
    background-color: var(--color-primary-hoverLight);
    border: 2px solid var(--color-primary-hoverLight);
  }

  @media only screen and (max-width: 23.75em) {
    margin-right: 0.5rem;
  }
}
