@import "../../sass/abstracts/_variables.scss";

.toggler {
  color: white;
  cursor: pointer;
  border-radius: 5px;

  padding: 5px;
  margin-right: 3rem;
  border: 2px solid var(--color-primary-light);

  h1 {
    font-weight: 100;
  }

  &--hover {
    background-color: var(--color-primary-hoverLight);
    border: 2px solid var(--color-primary-hoverLight);
  }
}
