.navbar {
  display: flex;
  justify-content: space-between;

  &__logo {
    //width: 100vw;
    padding: 6px 0;
    grid-area: header;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-align: center;
  }
}
