*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: blue;
  --color-primary-lightest: #59c2ff;
  --color-primary-lighter: #59c2ff;
  --color-primary-light: #00a2ff;
  --color-primary-dark: #000077;
  --color-primary-darker: #000047;
  --color-primary-darkest: #00002c;
}

html {
  // defines 1rem
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--color-primary);
}
