*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #3399ff;
  --color-primary-lightest: #80bfff;
  --color-primary-lighter: #66b3ff;
  --color-primary-light: #4da6ff;
  --color-primary-dark: #1a8cff;
  --color-primary-darker: #0080ff;
  --color-primary-darkest: #0073e6;
}

html {
  // defines 1rem
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--color-primary);
}
